<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true"
          name="/Users/nerminbasaran/IdeaProjects/mytestNGproject/src/test/java/com/myapp/tests/smoketestsuite/logintests">
        <classes>
            <class name="com.myapp.tests.smoketestsuite.logintests.Day20_BadCredentials">
                <methods>
                    <include name="Day20_US413123_Bad_Credentials"/>
                </methods>
            </class>
            <class name="com.myapp.tests.smoketestsuite.logintests.Day20_NegativeLogin">
                <methods>
                    <include name="US100208_Negative_Login"/>
                </methods>
            </class>
            <class name="com.myapp.tests.smoketestsuite.logintests.Day20_PositiveLogin">
                <methods>
                    <include name="US100201_Admin_Login"/>
                </methods>
            </class>
            <class name="com.myapp.tests.smoketestsuite.logintests.excelautomation.Day21_ExcelLogin">
                <methods>
                    <include name="customerLoginTest"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>